#scroll-container {
    width: 100vw;
    height: calc(100vw * (663 / 1920));  /* H = W * (imgH / imgW) */
    background-image: url("../assets/macore/sunset.jpg");
    background-position: center;
    background-repeat: no-repeat;        /* or repeat-x if you want tiling */
    background-size: 100% auto;
    overflow: hidden;
}

#scroll-track {
    position: relative;
    height: 100%; /* actual scrollable content will fill this */
}

.scroll-item {
    position: absolute;
    top: 20px;
    height: 300px; /* just content height */
}

/* Adjust image positioning to align within the scroll-item */
.scroll-item img {
    position: relative;
    height: 100%;
    width: auto;
    display: block;
    top: 0;
    left: 0;
}
.scroll-item .frame {
    position: absolute;       /* Required for z-index to apply */
    top: 0;
    left: 0;
    pointer-events: none;
    user-select: none;
    z-index: 10;
}
